@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No Books!</h4>
        <p class="mb-0">No books were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">
        @foreach (var book in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a class="card border-success mb-3 text-decoration-none rounded-3 overflow-hidden" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                    <div class="card-body" style="background-image: url(@($"{FileSettings.ImagePath}/{book.Cover}")); background-size: cover; background-position:center; height:450px">
                        <div class=" d-flex align-items-end h-100">
                            <span class="btn btn-primary rounded-0 fs-3">@book.Category?.Name</span>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5>@book.Name</h5>
                        <div>
                            
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}





